{% extends "base.html" %}

{% block page_content %}
<div class="container">
  <h2>{{ event.name }}</h2>
  {% for message in messages %}
  {{ message.created_on }}: <b>{{ message.message }}</b> <br>
  {% endfor %}
  <hr/>
  <p>
    Everything below the line will be new messages sent to the session
  </p>
</div>
{% endblock page_content %}

{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/messages/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}