{% extends "base.html" %}
{% block page_content %}
<div class="col">
  <h1>Send a Message to {{ event.name }}</h1>
  <form id="sform" action="{% url 'post_info' event.pk %}" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
          {{ field.label_tag }} <br>
          {{ field }}
      </div>
    {% endfor %}
    <button type="submit">
      Send
    </button>
  </form>
  </hr>
  <ul id='message-list'>
  {% for message in messages %}
    <li>{{ message.created_on }}: - <b>{{ message.message }}</b> </li>
  {% endfor %}
  </ul>
    <hr/>
  <p>
    Everything below the line will be new messages sent to the session
  </p>
</div>

{% block script %}
  <script>
    console.log(window.location)
    var loc = window.location
    var formData = $("#sform")
    var inputData = $('#id_message')
    
    
    var wsStart = 'ws://'
    if (loc.protocol == 'https:') {
      wsStart = 'wss://'
    }
    var endpoint = wsStart + loc.host + loc.pathname 
    console.log(endpoint)
    var socket = new WebSocket(endpoint)
    
    socket.onmessage = function(e){
      console.log("message", e)
    }
    
    socket.onopen = function(e){
      console.log("open", e)
      formData.submit(function(event){
        event.preventDefault()
        var msgText = inputData.val()
       // var formDataSerialzed = formData.serialize()
        
        var finalData = {
          'message': msgText
        }
        
        socket.send(JSON.stringify(finalData))
        formData[0].reset()
        inputData.focus()
      })
                      
                     
    }
    
    socket.onerror = function(e){
      console.log("error", e)
    }
    
    socket.onclose = function(e){
      console.log("close", e)
    }

  </script>
{% endblock script %}



{% endblock page_content %}